<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MakeCall-iPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MakeCall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>366A3FAE1CB39C5E00A70DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>366A3FC71CB39C5E00A70DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>366A3FD21CB39C5E00A70DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367E88021CB4E7E300B943EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
